### Add your project requirements here
--index-url https://artifactory.engops.az.eagleinvsys.com/artifactory/api/pypi/pypi-virtual/simple
dnapythonutils>=1.3.0
Flask==1.1.2

argparse>=1.2.1
pip>=20.2.4
cryptography>=3.2.1
api>=0.0.7
py>=1.9.0
setuptools>=47.1.0
requests>=2.24.0
colorama>=0.4.4
ecdsa>=0.16.1
PyJWT>=1.7.1
rsa>=4.6
pyasn1>=0.4.8
adal>=0.4.7
python-dateutil>=2.8.1
attrs>=20.3.0
hvac>=0.10.3
six>=1.15.0
PyYAML>=5.1.2
idna>=2.10
multidict>=4.7.6
aiohttp>=3.6.2
urllib3>=1.25.10
msrest>=0.6.19
yarl>=1.6.3
isodate>=0.6.0
msal>=1.6.0
pytest>=5.4.3
Jinja2>=2.11.2
Werkzeug>=1.0.1
itsdangerous>=1.1.0
click>=7.1.2
python-dotenv>=0.13.0
blinker>=1.4
pywin32>=300
tornado>=6.0.4
MarkupSafe>=1.1.1
visitor>=0.1.3
oauthlib>=3.1.0
pluggy>=0.13.1
packaging>=20.4
atomicwrites>=1.4.0
gunicorn>=19.7.1
chardet>=3.0.4
certifi>=2020.6.20
wcwidth>=0.2.5
marshmallow>=3.9.1
pyparsing>=2.4.7
pycparser>=2.20
progressbar>=2.5
environs>=8.0.0
portalocker>=1.7.1
dnasetuptools>=1.1.2